/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* General */
/* Utility */
.container{
  width: 80%;
  margin: 0 auto;
}

/* Utility */
/* Header */
header{
  z-index: 99;
  height: 70px;
  background-color:#ff6900 ;
  position: fixed;
  right: 0;
  width: 100%;
  margin-bottom: 100px;
  box-shadow:  0 1px 3px grey;
}

header .page-head{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-home img{
 max-width: 150px;
 margin: 0 50px;
}

header ul{
  list-style: none;
}

header ul li{
  display: inline;
}

header ul li a{
  text-decoration: none;
  color: white;
}

header nav:first-of-type li a{ 
  margin: 0 8px;
  font-weight: bold;
}

header nav:nth-last-of-type(1) li a{
  margin: 0 5px;
}

header ul li a:hover{
  color: aquamarine;
}

/* Header */
/* Main */
main{
 padding-top: 100px;
}
main span{
  display:block;
}

main .row{
  display: flex;
  align-items: center ;
  justify-content:center ;
  flex-wrap: wrap;
  gap: 20px;
}

main .row .sell-item .item-name{
  text-transform: uppercase;
}

main .sell-item{
  position: relative;
  top: 0;
  right: 0;
  margin: 20px 0;
  width: calc((100% / 3) - 20px);
  cursor: pointer;
  min-width: 300px;
}

main .sell-item img{
  width: 100%;
}

main .sell-item .front{
  display: block;
}

main .sell-item .behind{
  display: none;
}

main .sell-item .transition:hover .front{
  display: none;
}

main .sell-item .transition:hover .behind{
  display: block;
}

main .sell-item .heart, .discount,.sostenibility{
  padding: 1px 8px;
  display: inline;
  color: white;
  position: absolute;
  font-weight: bold;
}

main .sell-item .heart{
 font-size:2.5vh;
  background-color: white;
  color: #1a1a1a;
  bottom: 92%;
  right: 5%;

}

main .sell-item .discount{
  bottom: 20%;
  background-color: red;
}

main .sell-item .sostenibility{
  margin-left: 30px;
  bottom: 20%;
  left: 5%;
  background-color: green;
}


main .sell-item .item-name{
  font-weight: bold;
  font-size: 1.2em;
}

main .sell-item .price{
  display: inline;
  color: red;
}
main .sell-item .old-price{
  display: inline;
  top: -40px;
  margin-left: 10px;
  text-decoration:line-through;
}

main .sell-item .sostenibility-diff{
  background-color: green;
  display: inline;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 20%;
  padding: 1px 8px;
}

/* Main */
/* Footer */
footer{
  margin-top: 50px;
  height: 100px;
  background-color: #1a1a1a;
  border-bottom: 0.5px solid white;
}

footer .footer.container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer span{
  display: block;
  color: white;
  margin-bottom: 10px;
}

footer ul{
  list-style: none;
}

footer ul li{
  display: inline;
}

footer ul li a{
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

footer ul li a:hover{
  color: #ff6900;
  text-decoration: underline;
}
/* Footer */